{% extends 'layout.html' %}

{% block body %}
    <h1>Users</h1>
    <a class="btn btn-success" href="/adduser"> Add User</a>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Port</th>
                <th>Expire</th>
                <th>Active</th>
                <th>Download(MB)</th>
                <th>Upload(MB)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="connectioninfo/{{user.id}}">{{user.id}}</a></td>
                    <td>{{user.user}}</td>
                    <td>{{user.port}}</td>
                    <td>{{user.expire}}</td>
                    <td>{{user.enable}}</td>
                    <td>{{(user.d / 1048576) | round(2, 'common')}}</td>
                    <td>{{(user.u / 1048576) | round(2, 'common')}}</td>
                    <td>
                        {% if user.enable == 1 %}
                            <a class="btn btn-primary" href="disableaccount/{{user.id}}">Disable</button>
                        {% else %}
                            <a class="btn btn-primary" href="enableaccount/{{user.id}}">Enable</button>
                        {% endif %}
                        <a class="btn btn-primary" href="updateuser/{{user.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}