{% extends 'layout.html' %}

{% block body %}
    <h1>Users</h1>
    <a class="btn btn-success" href="/adduser"> Add User</a>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Port</th>
                <th>Expire</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="connectioninfo/{{user.id}}">{{user.id}}</a></td>
                    <td>{{user.user}}</td>
                    <td>{{user.port}}</td>
                    <td>{{user.expire}}</td>
                    <td>{{user.enable}}</td>
                    <td>
                        <button class="btn btn-primary" type="button">Disable</button>
                        <a class="btn btn-primary" href="updateuser/{{user.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}